* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}


img {
  width: 100vw;
}

a {
  display: block;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px 4px #00000080;
  text-align: center;
  font-weight: bolder;
  transition: .4s;
}

a:hover {
  transform: scale(1.1);
  scale: 1.1;
}

a.youtube {
  background-color: #8b0000;
  color: #fff;
}

a.youtube:hover {
  background-color: #cc0000;
}

a.threads {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

a.threads:hover {
  background-color: #ffffff;
  color: #000;
}

a.facebook {
  background-color: darkblue;
  color: #fff;
}

a.facebook:hover {
  background-color: #0044ff;
}

a.github {
  background-color: #500050;
  color: #fff;
}

a.github:hover {
  background-color: #800080;
}

a.instagram {
  background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
  color: #fff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a.instagram:hover {
  background-attachment: fixed;
  animation: none;
  background-size: cover;
}

a.twitter {
  background-color: #ffffff;
  color: #00aeff;
}

a.twitter:hover {
  background-color: #00aeff;
  color: #fff;
}